.header{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.movies-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.movies-list-card {
    border: 1px solid black;
    width: fit-content;
    padding: 10px;
}
.poster-image{
    width: 300px;
}
.list-card-title{
    width: 300px;
}
.movie-page{
    display: flex;
}
.movie-page-poster{
    padding: 10px;
}
.movie-page-poster h3,.movie-page-info h2{
    margin-top: 0;
}
.movie-page-info{
    padding: 10px;
}
