.title-img{
height: 50px;
}
.title-conteiner span{
    padding-left: 10px;
    font-family: 'Otomanopee One', sans-serif;
    font-size: 1.5rem;
    color: black;
}
.title-conteiner div{
    display:flex;
    justify-items: center;
    align-items: center;
}
